div.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div.nav li {
    display: inline;
}
div.nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #e3e3e3;
    background-color: #233142;
    border-radius: 5px;
}
div.nav a:hover {
    background-color: #455d7a;
}
div.nav a.active {
    background-color: #455d7a;
    color: white;
}
div.nav a.active:hover {
    background-color: #455d7a;
}
div.nav a.active:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10px solid #455d7a;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.logo {

}
.header {
    background-color: #455d7a;
    color: #e3e3e3;
    padding: 10px;
    text-align: center;
    display: inline;
}