.first-color {
    background: #233142;
}

.second-color {
    background: #455d7a;
}

.third-color {
    background: #f95959;
}

.fourth-color {
    background: #e3e3e3;
}

div.header {
    background-color: #233142;
    padding: 10px;
    position: center;
}

div.header-child {
    display: inline-block;
    text-decoration: none;
    background-color: #233142;
    border-radius: 5px;
}

div.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.nav li {
    display: inline;
}

div.nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #e3e3e3;
    background-color: #233142;
    border-radius: 5px;
}

div.nav a:hover {
    background-color: #455d7a;
}

div.nav a.active {
    background-color: #455d7a;
    color: white;
}

div.nav a.active:hover {
    background-color: #455d7a;
}

div.nav a.active:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10px solid #455d7a;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

div.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #233142;
    color: white;
    text-align: center;
}
